<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="transaction">
      <h2 data-cy="transactionDetailsHeading"><span>Transaction</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ transaction.id }}</span>
        </dd>
        <dt><span>Date</span></dt>
        <dd>
          <span>{{ transaction.date | formatMediumDate }}</span>
        </dd>
        <dt><span>Player</span></dt>
        <dd>
          <div *ngIf="transaction.player">
            <a [routerLink]="['/player', transaction.player.id, 'view']">{{ transaction.player.id }}</a>
          </div>
        </dd>
        <dt><span>Coin Package</span></dt>
        <dd>
          <div *ngIf="transaction.coinPackage">
            <a [routerLink]="['/coin-package', transaction.coinPackage.id, 'view']">{{ transaction.coinPackage.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/transaction', transaction.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
