<div class="FAQ">
  <!------------------Header and banner section-------->
  <div class="section-one">
    <div class="h-100">
      <!------------------header section--------->
      <div class="header-section w-100 px-5" style="display: grid">
        <app-header></app-header>
      </div>
      <!------------banner section---------------------->
      <div class="px-5 banner-section">
        <div class="d-flex align-items-center h-100">
          <div>
            <div class="h1">DIGICADE GAMES</div>
            <div class="detail">Welcome to DIGICADE! Play online and win great prizes!</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--------------------Section 2 (slider )-------->
  <div class="section-two">
    <div class="section-two-one px-5">
      <div class="d-flex justify-content-center">
        <div class="h2">HAVE ANY QUESTIONS</div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="h1">Frequently asked Questions</div>
      </div>
      <div style="margin-top: 4%">
        <div class="row faq-section">
          <div class="col-md-6 col-sm-12">
            <div class="faq-box cursor-pointer">
              <div class="d-flex justify-content-between w-100 h-100">
                <div style="width: 10%" class="d-flex align-items-center justify-content-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20.077" height="20.076" viewBox="0 0 20.077 20.076" class="fill-white">
                    <g id="pencil" transform="translate(-2.247 -2.25)">
                      <path
                        id="Path_9"
                        data-name="Path 9"
                        d="M17.009,2.67a1.434,1.434,0,0,1,2.027,0L21.9,5.538a1.434,1.434,0,0,1,0,2.027L9,20.472a1.434,1.434,0,0,1-.56.347l-4.3,1.434a1.434,1.434,0,0,1-1.816-1.814l1.434-4.3a1.434,1.434,0,0,1,.347-.561L17.008,2.67Zm1.014,1.014,2.868,2.868L7.985,19.458l-4.3,1.434,1.434-4.3Z"
                        transform="translate(0 0)"
                        fill-rule="evenodd"
                      />
                      <path
                        id="Path_10"
                        data-name="Path 10"
                        d="M19.866,11.678,16.281,8.093,17.3,7.078l3.585,3.585-1.014,1.015ZM6.75,16.907v.717a.717.717,0,0,0,.717.717h.717v.717a.717.717,0,0,0,.717.717h.717v.717a.717.717,0,0,0,.717.717h.717V19.058a.717.717,0,0,0-.717-.717H9.618v-.717a.717.717,0,0,0-.717-.717Z"
                        transform="translate(-1.633 -1.751)"
                        fill-rule="evenodd"
                      />
                    </g>
                  </svg>
                </div>
                <div style="width: 80%" class="faq-font d-flex align-items-center">
                  <div>Who is Digicade Games?</div>
                </div>
                <div style="width: 10%" class="d-flex align-items-center justify-content-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="8.09" height="13.383" viewBox="0 0 8.09 13.383" class="fill-white">
                    <path
                      id="arrow-left"
                      d="M6.692,13.748,0,7.057,6.692.365l1.4,1.42L2.818,7.057,8.09,12.329Z"
                      transform="translate(8.09 13.748) rotate(180)"
                    />
                  </svg>
                </div>
              </div>
            </div>
            <div class="faq-box cursor-pointer">
              <div class="d-flex justify-content-between w-100 h-100">
                <div style="width: 10%" class="d-flex align-items-center justify-content-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20.077" height="20.076" viewBox="0 0 20.077 20.076" class="fill-white">
                    <g id="pencil" transform="translate(-2.247 -2.25)">
                      <path
                        id="Path_9"
                        data-name="Path 9"
                        d="M17.009,2.67a1.434,1.434,0,0,1,2.027,0L21.9,5.538a1.434,1.434,0,0,1,0,2.027L9,20.472a1.434,1.434,0,0,1-.56.347l-4.3,1.434a1.434,1.434,0,0,1-1.816-1.814l1.434-4.3a1.434,1.434,0,0,1,.347-.561L17.008,2.67Zm1.014,1.014,2.868,2.868L7.985,19.458l-4.3,1.434,1.434-4.3Z"
                        transform="translate(0 0)"
                        fill-rule="evenodd"
                      />
                      <path
                        id="Path_10"
                        data-name="Path 10"
                        d="M19.866,11.678,16.281,8.093,17.3,7.078l3.585,3.585-1.014,1.015ZM6.75,16.907v.717a.717.717,0,0,0,.717.717h.717v.717a.717.717,0,0,0,.717.717h.717v.717a.717.717,0,0,0,.717.717h.717V19.058a.717.717,0,0,0-.717-.717H9.618v-.717a.717.717,0,0,0-.717-.717Z"
                        transform="translate(-1.633 -1.751)"
                        fill-rule="evenodd"
                      />
                    </g>
                  </svg>
                </div>
                <div style="width: 80%" class="faq-font d-flex align-items-center">
                  <div>What is Digicade Games?</div>
                </div>
                <div style="width: 10%" class="d-flex align-items-center justify-content-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="8.09" height="13.383" viewBox="0 0 8.09 13.383" class="fill-white">
                    <path
                      id="arrow-left"
                      d="M6.692,13.748,0,7.057,6.692.365l1.4,1.42L2.818,7.057,8.09,12.329Z"
                      transform="translate(8.09 13.748) rotate(180)"
                    />
                  </svg>
                </div>
              </div>
            </div>
            <div class="faq-box cursor-pointer">
              <div class="d-flex justify-content-between w-100 h-100">
                <div style="width: 10%" class="d-flex align-items-center justify-content-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20.077" height="20.076" viewBox="0 0 20.077 20.076" class="fill-white">
                    <g id="pencil" transform="translate(-2.247 -2.25)">
                      <path
                        id="Path_9"
                        data-name="Path 9"
                        d="M17.009,2.67a1.434,1.434,0,0,1,2.027,0L21.9,5.538a1.434,1.434,0,0,1,0,2.027L9,20.472a1.434,1.434,0,0,1-.56.347l-4.3,1.434a1.434,1.434,0,0,1-1.816-1.814l1.434-4.3a1.434,1.434,0,0,1,.347-.561L17.008,2.67Zm1.014,1.014,2.868,2.868L7.985,19.458l-4.3,1.434,1.434-4.3Z"
                        transform="translate(0 0)"
                        fill-rule="evenodd"
                      />
                      <path
                        id="Path_10"
                        data-name="Path 10"
                        d="M19.866,11.678,16.281,8.093,17.3,7.078l3.585,3.585-1.014,1.015ZM6.75,16.907v.717a.717.717,0,0,0,.717.717h.717v.717a.717.717,0,0,0,.717.717h.717v.717a.717.717,0,0,0,.717.717h.717V19.058a.717.717,0,0,0-.717-.717H9.618v-.717a.717.717,0,0,0-.717-.717Z"
                        transform="translate(-1.633 -1.751)"
                        fill-rule="evenodd"
                      />
                    </g>
                  </svg>
                </div>
                <div style="width: 80%" class="faq-font d-flex align-items-center">
                  <div>What is Digicade Games Arena?</div>
                </div>
                <div style="width: 10%" class="d-flex align-items-center justify-content-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="8.09" height="13.383" viewBox="0 0 8.09 13.383" class="fill-white">
                    <path
                      id="arrow-left"
                      d="M6.692,13.748,0,7.057,6.692.365l1.4,1.42L2.818,7.057,8.09,12.329Z"
                      transform="translate(8.09 13.748) rotate(180)"
                    />
                  </svg>
                </div>
              </div>
            </div>
            <div class="faq-box cursor-pointer">
              <div class="d-flex justify-content-between w-100 h-100">
                <div style="width: 10%" class="d-flex align-items-center justify-content-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20.077" height="20.076" viewBox="0 0 20.077 20.076" class="fill-white">
                    <g id="pencil" transform="translate(-2.247 -2.25)">
                      <path
                        id="Path_9"
                        data-name="Path 9"
                        d="M17.009,2.67a1.434,1.434,0,0,1,2.027,0L21.9,5.538a1.434,1.434,0,0,1,0,2.027L9,20.472a1.434,1.434,0,0,1-.56.347l-4.3,1.434a1.434,1.434,0,0,1-1.816-1.814l1.434-4.3a1.434,1.434,0,0,1,.347-.561L17.008,2.67Zm1.014,1.014,2.868,2.868L7.985,19.458l-4.3,1.434,1.434-4.3Z"
                        transform="translate(0 0)"
                        fill-rule="evenodd"
                      />
                      <path
                        id="Path_10"
                        data-name="Path 10"
                        d="M19.866,11.678,16.281,8.093,17.3,7.078l3.585,3.585-1.014,1.015ZM6.75,16.907v.717a.717.717,0,0,0,.717.717h.717v.717a.717.717,0,0,0,.717.717h.717v.717a.717.717,0,0,0,.717.717h.717V19.058a.717.717,0,0,0-.717-.717H9.618v-.717a.717.717,0,0,0-.717-.717Z"
                        transform="translate(-1.633 -1.751)"
                        fill-rule="evenodd"
                      />
                    </g>
                  </svg>
                </div>
                <div style="width: 80%" class="faq-font d-flex align-items-center">
                  <div>Why has this never been used before?</div>
                </div>
                <div style="width: 10%" class="d-flex align-items-center justify-content-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="8.09" height="13.383" viewBox="0 0 8.09 13.383" class="fill-white">
                    <path
                      id="arrow-left"
                      d="M6.692,13.748,0,7.057,6.692.365l1.4,1.42L2.818,7.057,8.09,12.329Z"
                      transform="translate(8.09 13.748) rotate(180)"
                    />
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="faq-box">
              <div class="faq-box cursor-pointer">
                <div class="d-flex justify-content-between w-100 h-100">
                  <div style="width: 10%" class="d-flex align-items-center justify-content-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20.077" height="20.076" viewBox="0 0 20.077 20.076" class="fill-white">
                      <g id="pencil" transform="translate(-2.247 -2.25)">
                        <path
                          id="Path_9"
                          data-name="Path 9"
                          d="M17.009,2.67a1.434,1.434,0,0,1,2.027,0L21.9,5.538a1.434,1.434,0,0,1,0,2.027L9,20.472a1.434,1.434,0,0,1-.56.347l-4.3,1.434a1.434,1.434,0,0,1-1.816-1.814l1.434-4.3a1.434,1.434,0,0,1,.347-.561L17.008,2.67Zm1.014,1.014,2.868,2.868L7.985,19.458l-4.3,1.434,1.434-4.3Z"
                          transform="translate(0 0)"
                          fill-rule="evenodd"
                        />
                        <path
                          id="Path_10"
                          data-name="Path 10"
                          d="M19.866,11.678,16.281,8.093,17.3,7.078l3.585,3.585-1.014,1.015ZM6.75,16.907v.717a.717.717,0,0,0,.717.717h.717v.717a.717.717,0,0,0,.717.717h.717v.717a.717.717,0,0,0,.717.717h.717V19.058a.717.717,0,0,0-.717-.717H9.618v-.717a.717.717,0,0,0-.717-.717Z"
                          transform="translate(-1.633 -1.751)"
                          fill-rule="evenodd"
                        />
                      </g>
                    </svg>
                  </div>
                  <div style="width: 80%" class="faq-font d-flex align-items-center">
                    <div>Who is Digicade Games?</div>
                  </div>
                  <div style="width: 10%" class="d-flex align-items-center justify-content-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8.09" height="13.383" viewBox="0 0 8.09 13.383" class="fill-white">
                      <path
                        id="arrow-left"
                        d="M6.692,13.748,0,7.057,6.692.365l1.4,1.42L2.818,7.057,8.09,12.329Z"
                        transform="translate(8.09 13.748) rotate(180)"
                      />
                    </svg>
                  </div>
                </div>
              </div>
              <div class="faq-box cursor-pointer">
                <div class="d-flex justify-content-between w-100 h-100">
                  <div style="width: 10%" class="d-flex align-items-center justify-content-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20.077" height="20.076" viewBox="0 0 20.077 20.076" class="fill-white">
                      <g id="pencil" transform="translate(-2.247 -2.25)">
                        <path
                          id="Path_9"
                          data-name="Path 9"
                          d="M17.009,2.67a1.434,1.434,0,0,1,2.027,0L21.9,5.538a1.434,1.434,0,0,1,0,2.027L9,20.472a1.434,1.434,0,0,1-.56.347l-4.3,1.434a1.434,1.434,0,0,1-1.816-1.814l1.434-4.3a1.434,1.434,0,0,1,.347-.561L17.008,2.67Zm1.014,1.014,2.868,2.868L7.985,19.458l-4.3,1.434,1.434-4.3Z"
                          transform="translate(0 0)"
                          fill-rule="evenodd"
                        />
                        <path
                          id="Path_10"
                          data-name="Path 10"
                          d="M19.866,11.678,16.281,8.093,17.3,7.078l3.585,3.585-1.014,1.015ZM6.75,16.907v.717a.717.717,0,0,0,.717.717h.717v.717a.717.717,0,0,0,.717.717h.717v.717a.717.717,0,0,0,.717.717h.717V19.058a.717.717,0,0,0-.717-.717H9.618v-.717a.717.717,0,0,0-.717-.717Z"
                          transform="translate(-1.633 -1.751)"
                          fill-rule="evenodd"
                        />
                      </g>
                    </svg>
                  </div>
                  <div style="width: 80%" class="faq-font d-flex align-items-center">
                    <div>What is Digicade Games?</div>
                  </div>
                  <div style="width: 10%" class="d-flex align-items-center justify-content-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8.09" height="13.383" viewBox="0 0 8.09 13.383" class="fill-white">
                      <path
                        id="arrow-left"
                        d="M6.692,13.748,0,7.057,6.692.365l1.4,1.42L2.818,7.057,8.09,12.329Z"
                        transform="translate(8.09 13.748) rotate(180)"
                      />
                    </svg>
                  </div>
                </div>
              </div>
              <div class="faq-box cursor-pointer">
                <div class="d-flex justify-content-between w-100 h-100">
                  <div style="width: 10%" class="d-flex align-items-center justify-content-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20.077" height="20.076" viewBox="0 0 20.077 20.076" class="fill-white">
                      <g id="pencil" transform="translate(-2.247 -2.25)">
                        <path
                          id="Path_9"
                          data-name="Path 9"
                          d="M17.009,2.67a1.434,1.434,0,0,1,2.027,0L21.9,5.538a1.434,1.434,0,0,1,0,2.027L9,20.472a1.434,1.434,0,0,1-.56.347l-4.3,1.434a1.434,1.434,0,0,1-1.816-1.814l1.434-4.3a1.434,1.434,0,0,1,.347-.561L17.008,2.67Zm1.014,1.014,2.868,2.868L7.985,19.458l-4.3,1.434,1.434-4.3Z"
                          transform="translate(0 0)"
                          fill-rule="evenodd"
                        />
                        <path
                          id="Path_10"
                          data-name="Path 10"
                          d="M19.866,11.678,16.281,8.093,17.3,7.078l3.585,3.585-1.014,1.015ZM6.75,16.907v.717a.717.717,0,0,0,.717.717h.717v.717a.717.717,0,0,0,.717.717h.717v.717a.717.717,0,0,0,.717.717h.717V19.058a.717.717,0,0,0-.717-.717H9.618v-.717a.717.717,0,0,0-.717-.717Z"
                          transform="translate(-1.633 -1.751)"
                          fill-rule="evenodd"
                        />
                      </g>
                    </svg>
                  </div>
                  <div style="width: 80%" class="faq-font d-flex align-items-center">
                    <div>What is Digicade Games Arena?</div>
                  </div>
                  <div style="width: 10%" class="d-flex align-items-center justify-content-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8.09" height="13.383" viewBox="0 0 8.09 13.383" class="fill-white">
                      <path
                        id="arrow-left"
                        d="M6.692,13.748,0,7.057,6.692.365l1.4,1.42L2.818,7.057,8.09,12.329Z"
                        transform="translate(8.09 13.748) rotate(180)"
                      />
                    </svg>
                  </div>
                </div>
              </div>
              <div class="faq-box cursor-pointer">
                <div class="d-flex justify-content-between w-100 h-100">
                  <div style="width: 10%" class="d-flex align-items-center justify-content-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20.077" height="20.076" viewBox="0 0 20.077 20.076" class="fill-white">
                      <g id="pencil" transform="translate(-2.247 -2.25)">
                        <path
                          id="Path_9"
                          data-name="Path 9"
                          d="M17.009,2.67a1.434,1.434,0,0,1,2.027,0L21.9,5.538a1.434,1.434,0,0,1,0,2.027L9,20.472a1.434,1.434,0,0,1-.56.347l-4.3,1.434a1.434,1.434,0,0,1-1.816-1.814l1.434-4.3a1.434,1.434,0,0,1,.347-.561L17.008,2.67Zm1.014,1.014,2.868,2.868L7.985,19.458l-4.3,1.434,1.434-4.3Z"
                          transform="translate(0 0)"
                          fill-rule="evenodd"
                        />
                        <path
                          id="Path_10"
                          data-name="Path 10"
                          d="M19.866,11.678,16.281,8.093,17.3,7.078l3.585,3.585-1.014,1.015ZM6.75,16.907v.717a.717.717,0,0,0,.717.717h.717v.717a.717.717,0,0,0,.717.717h.717v.717a.717.717,0,0,0,.717.717h.717V19.058a.717.717,0,0,0-.717-.717H9.618v-.717a.717.717,0,0,0-.717-.717Z"
                          transform="translate(-1.633 -1.751)"
                          fill-rule="evenodd"
                        />
                      </g>
                    </svg>
                  </div>
                  <div style="width: 80%" class="faq-font d-flex align-items-center">
                    <div>Why has this never been used before?</div>
                  </div>
                  <div style="width: 10%" class="d-flex align-items-center justify-content-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8.09" height="13.383" viewBox="0 0 8.09 13.383" class="fill-white">
                      <path
                        id="arrow-left"
                        d="M6.692,13.748,0,7.057,6.692.365l1.4,1.42L2.818,7.057,8.09,12.329Z"
                        transform="translate(8.09 13.748) rotate(180)"
                      />
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-two-two">
      <jhi-app-footer></jhi-app-footer>
    </div>
  </div>
</div>
