<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="nftReward">
      <h2 data-cy="nftRewardDetailsHeading"><span>Nft Reward</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ nftReward.id }}</span>
        </dd>
        <dt><span>Tix</span></dt>
        <dd>
          <span>{{ nftReward.tix }}</span>
        </dd>
        <dt><span>Comp</span></dt>
        <dd>
          <span>{{ nftReward.comp }}</span>
        </dd>
        <dt><span>Image Url</span></dt>
        <dd>
          <span>{{ nftReward.imageUrl }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/nft-reward', nftReward.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
