<div class="footer h-100 px-5">
  <div class="footer-container h-100">
    <div class="section-one d-flex align-items-center">
      <div class="w-100 h-100">
        <div class="row h-100">
          <div class="col-md-4 col-sm-12">
            <div class="h-100 d-flex align-items-center">
              <img (click)="goToHome()" src="../../content/img/main-page/digicade-logo-svg.svg" alt="" class="cursor-pointer footer-logo" />
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="d-flex justify-content-center align-items-center h-100">
              <div>
                <div class="d-flex justify-content-center">
                  <span class="text-white text-1">Download our app</span>
                </div>
                <div class="d-flex justify-content-center social-img-margin-top">
                  <div class="d-flex">
                    <div>
                      <img src="../../content/img/main-page/app-store.png" class="img-fluid cursor-pointer" alt="" />
                    </div>
                    <div style="margin: 0 0 0 7%">
                      <img src="../../content/img/main-page/google-store.png" class="img-fluid ml-2 cursor-pointer" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="d-flex justify-content-center align-items-center h-100">
              <div>
                <div class="text-white text-1 d-flex justify-content-center">
                  <div>Follow us on</div>
                </div>
                <div class="d-flex justify-content-center social-img-2-margin-top">
                  <div class="d-flex align-items-center">
                    <div>
                      <img src="../../content/img/main-page/social-2.png" class="img-fluid cursor-pointer" alt="" />
                    </div>
                    <div style="margin: 0 15%">
                      <fa-icon class="text-white font-25 cursor-pointer"></fa-icon>
                    </div>
                    <div>
                      <img src="../../content/img/main-page/social-1.png" class="img-fluid ml-2 cursor-pointer" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-two d-flex align-items-center">
      <div class="w-100">
        <div class="row">
          <div class="col-md-4 col-sm-12 text-white font-22">&copy; 2022 IO Stadium Inc. All Rights Reserved.</div>
          <div class="col-md-8 col-sm-12">
            <div class="text-white font-22 d-flex justify-content-center justify-content-between">
              <div class="cursor-pointer">About IO Stadium</div>
              <div class="cursor-pointer">Contact Us</div>
              <div class="cursor-pointer">Privacy Policy</div>
              <div class="cursor-pointer">Terms of Service</div>
              <div class="cursor-pointer">Disclaimer</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
