<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-coupon-reward-heading" data-cy="CouponRewardCreateUpdateHeading">Create or edit a Coupon Reward</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_location">Location</label>
          <input type="text" class="form-control" name="location" id="field_location" data-cy="location" formControlName="location" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_tix">Tix</label>
          <input type="number" class="form-control" name="tix" id="field_tix" data-cy="tix" formControlName="tix" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_comp">Comp</label>
          <input type="number" class="form-control" name="comp" id="field_comp" data-cy="comp" formControlName="comp" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_expiry">Expiry</label>
          <div class="input-group">
            <input
              id="field_expiry"
              data-cy="expiry"
              type="text"
              class="form-control"
              name="expiry"
              ngbDatepicker
              #expiryDp="ngbDatepicker"
              formControlName="expiry"
            />
            <button type="button" class="btn btn-secondary" (click)="expiryDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
