<div class="Register" style="overflow-x: hidden">
  <!------------------Header -------->
  <div class="section-one">
    <div class="h-100">
      <!------------------header section--------->
      <div class="header-section w-100 px-5" style="display: grid">
        <app-header></app-header>
      </div>
      <!--------------------Section 2 Form-------->
      <div class="d-flex justify-content-center form-section">
        <div class="form-box">
          <div class="row h-100">
            <div class="col-md-6 col-sm-12 form-section h-100 first-form-section-img" style="color: white">
              <div class="d-flex justify-content-center mt-4 pt-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="177" height="38" viewBox="0 0 177 38">
                  <text
                    id="Register"
                    transform="translate(0 31)"
                    fill="#fff"
                    font-size="31"
                    font-family="square721M"
                    letter-spacing="0.111em"
                  >
                    <tspan x="0" y="0">REGISTER</tspan>
                  </text>
                </svg>
              </div>
              <div style="margin: 5% 14%">
                <div>
                  <svg xmlns="http://www.w3.org/2000/svg" width="117" height="22" viewBox="0 0 117 22">
                    <text
                      id="First_Name"
                      data-name="First Name"
                      transform="translate(0 18)"
                      fill="#fff"
                      font-size="18"
                      font-family="square721M"
                      letter-spacing="0.111em"
                    >
                      <tspan x="0" y="0">First Name</tspan>
                    </text>
                  </svg>
                </div>
                <input name="myInput" ng-model="myInput" class="form-input mt-3" required />
                <div class="mt-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="117" height="22" viewBox="0 0 117 22">
                    <text
                      id="First_Name"
                      data-name="First Name"
                      transform="translate(0 18)"
                      fill="#fff"
                      font-size="18"
                      font-family="square721M"
                      letter-spacing="0.111em"
                    >
                      <tspan x="0" y="0">Last Name</tspan>
                    </text>
                  </svg>
                </div>
                <input name="myInput" ng-model="myInput" class="form-input mt-3" required />
                <div class="mt-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="117" height="22" viewBox="0 0 117 22">
                    <text
                      id="First_Name"
                      data-name="First Name"
                      transform="translate(0 18)"
                      fill="#fff"
                      font-size="18"
                      font-family="square721M"
                      letter-spacing="0.111em"
                    >
                      <tspan x="0" y="0">E mail</tspan>
                    </text>
                  </svg>
                </div>
                <input name="myInput" ng-model="myInput" class="form-input mt-3" required />
                <div class="mt-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="117" height="22" viewBox="0 0 117 22">
                    <text
                      id="First_Name"
                      data-name="First Name"
                      transform="translate(0 18)"
                      fill="#fff"
                      font-size="18"
                      font-family="square721M"
                      letter-spacing="0.111em"
                    >
                      <tspan x="0" y="0">User Name</tspan>
                    </text>
                  </svg>
                </div>
                <input name="myInput" ng-model="myInput" class="form-input mt-3" required />
                <div class="mt-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="117" height="22" viewBox="0 0 117 22">
                    <text
                      id="First_Name"
                      data-name="First Name"
                      transform="translate(0 18)"
                      fill="#fff"
                      font-size="18"
                      font-family="square721M"
                      letter-spacing="0.111em"
                    >
                      <tspan x="0" y="0">Password</tspan>
                    </text>
                  </svg>
                </div>
                <input name="myInput" ng-model="myInput" class="form-input mt-3" required />
                <div>
                  <div class="mt-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="180" height="22" viewBox="0 0 117 22" style="margin-left: -7%">
                      <text
                        id="First_Name"
                        data-name="First Name"
                        transform="translate(0 18)"
                        fill="#fff"
                        font-size="18"
                        font-family="square721M"
                        letter-spacing="0.111em"
                      >
                        <tspan x="0" y="0">Date of Birth</tspan>
                      </text>
                    </svg>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <input name="myInput" ng-model="myInput" class="form-input mt-3" placeholder="Day" required />
                    </div>
                    <div class="col-md-4">
                      <input name="myInput" ng-model="myInput" class="form-input mt-3" required placeholder="Month" />
                    </div>
                    <div class="col-md-4">
                      <input name="myInput" ng-model="myInput" class="form-input mt-3" required placeholder="Year" />
                    </div>
                  </div>
                </div>
                <div class="mt-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="210" height="22" viewBox="0 0 117 22" style="margin-left: -10%">
                    <text
                      id="First_Name"
                      data-name="First Name"
                      transform="translate(0 18)"
                      fill="#fff"
                      font-size="18"
                      font-family="square721M"
                      letter-spacing="0.111em"
                    >
                      <tspan x="0" y="0">Code (optional)</tspan>
                    </text>
                  </svg>
                </div>
                <input name="myInput" ng-model="myInput" class="form-input mt-3" required />
                <div class="mt-3 d-flex">
                  <div class="row">
                    <div class="col-md-1 col-sm-1">
                      <input
                        style="margin-top: -2%; margin-right: 3%"
                        type="checkbox"
                        class="checkbox"
                        id="checkbox"
                        name="true"
                        value="true"
                      />
                    </div>
                    <div class="col-md-11 col-sm-11">
                      <div class="disclimar">
                        By clicking hte check box, you are indicating that you have read and acknowledge the term & Conditions
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-center mt-4 cursor-pointer" [routerLink]="['/']">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="226.617"
                    height="81.517"
                    viewBox="0 0 226.617 81.517"
                  >
                    <defs>
                      <filter id="Rectangle_660" x="8.172" y="8.188" width="210.513" height="65.22" filterUnits="userSpaceOnUse">
                        <feOffset input="SourceAlpha" />
                        <feGaussianBlur stdDeviation="3" result="blur" />
                        <feFlood flood-color="#2dd4ff" />
                        <feComposite operator="in" in2="blur" />
                        <feComposite in="SourceGraphic" />
                      </filter>
                      <filter id="Path_22827" x="178.898" y="0" width="47.719" height="44.984" filterUnits="userSpaceOnUse">
                        <feOffset input="SourceAlpha" />
                        <feGaussianBlur stdDeviation="3" result="blur-2" />
                        <feFlood flood-color="#2dd4ff" />
                        <feComposite operator="in" in2="blur-2" />
                        <feComposite in="SourceGraphic" />
                      </filter>
                      <filter id="Path_22826" x="0" y="33.798" width="161.571" height="47.719" filterUnits="userSpaceOnUse">
                        <feOffset input="SourceAlpha" />
                        <feGaussianBlur stdDeviation="3" result="blur-3" />
                        <feFlood flood-color="#2dd4ff" />
                        <feComposite operator="in" in2="blur-3" />
                        <feComposite in="SourceGraphic" />
                      </filter>
                    </defs>
                    <g id="Group_4190" data-name="Group 4190" transform="translate(-563.828 -844.016)">
                      <g transform="matrix(1, 0, 0, 1, 563.83, 844.02)" filter="url(#Rectangle_660)">
                        <rect
                          id="Rectangle_660-2"
                          data-name="Rectangle 660"
                          width="192.513"
                          height="47.22"
                          transform="translate(17.17 17.19)"
                          fill="#fff"
                        />
                      </g>
                      <text
                        id="PLAY_NOW"
                        data-name="PLAY NOW"
                        transform="translate(612 895)"
                        fill="#5d4475"
                        font-size="21"
                        font-family="square721M"
                        letter-spacing="0.111em"
                      >
                        <tspan x="0" y="0">PLAY NOW</tspan>
                      </text>
                      <g transform="matrix(1, 0, 0, 1, 563.83, 844.02)" filter="url(#Path_22827)">
                        <path
                          id="Path_22827-2"
                          data-name="Path 22827"
                          d="M4393.571-10093.972h29.219v26.484"
                          transform="translate(-4205.67 10103.47)"
                          fill="none"
                          stroke="#fff"
                          stroke-width="1"
                        />
                      </g>
                      <g transform="matrix(1, 0, 0, 1, 563.83, 844.02)" filter="url(#Path_22826)">
                        <path
                          id="Path_22826-2"
                          data-name="Path 22826"
                          d="M0,0H143.071V29.219"
                          transform="translate(152.57 72.02) rotate(180)"
                          fill="none"
                          stroke="#fff"
                          stroke-width="1"
                        />
                      </g>
                    </g>
                  </svg>
                </div>

                <div class="d-flex align-items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="265"
                    height="19"
                    viewBox="0 0 265 19"
                  >
                    <defs>
                      <filter id="Line_25" x="0" y="0" width="265" height="19" filterUnits="userSpaceOnUse">
                        <feOffset input="SourceAlpha" />
                        <feGaussianBlur stdDeviation="3" result="blur" />
                        <feFlood flood-color="#2dd4ff" />
                        <feComposite operator="in" in2="blur" />
                        <feComposite in="SourceGraphic" />
                      </filter>
                    </defs>
                    <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#Line_25)">
                      <line
                        id="Line_25-2"
                        data-name="Line 25"
                        x1="247"
                        transform="translate(9 9.5)"
                        fill="none"
                        stroke="#fff"
                        stroke-width="1"
                      />
                    </g>
                  </svg>

                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="40"
                    height="35"
                    viewBox="0 0 40 35"
                  >
                    <defs>
                      <filter id="OR" x="0" y="0" width="40" height="35" filterUnits="userSpaceOnUse">
                        <feOffset input="SourceAlpha" />
                        <feGaussianBlur stdDeviation="3" result="blur" />
                        <feFlood flood-color="#2dd4ff" />
                        <feComposite operator="in" in2="blur" />
                        <feComposite in="SourceGraphic" />
                      </filter>
                    </defs>
                    <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#OR)">
                      <text
                        id="OR-2"
                        data-name="OR"
                        transform="translate(9 23)"
                        fill="#fff"
                        font-size="14"
                        font-family="square721M"
                        letter-spacing="0.111em"
                      >
                        <tspan x="0" y="0">OR</tspan>
                      </text>
                    </g>
                  </svg>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="265"
                    height="19"
                    viewBox="0 0 265 19"
                  >
                    <defs>
                      <filter id="Line_25" x="0" y="0" width="265" height="19" filterUnits="userSpaceOnUse">
                        <feOffset input="SourceAlpha" />
                        <feGaussianBlur stdDeviation="3" result="blur" />
                        <feFlood flood-color="#2dd4ff" />
                        <feComposite operator="in" in2="blur" />
                        <feComposite in="SourceGraphic" />
                      </filter>
                    </defs>
                    <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#Line_25)">
                      <line
                        id="Line_25-2"
                        data-name="Line 25"
                        x1="247"
                        transform="translate(9 9.5)"
                        fill="none"
                        stroke="#fff"
                        stroke-width="1"
                      />
                    </g>
                  </svg>
                </div>
                <div class="d-flex justify-content-center">
                  <div class="d-flex align-items-center">
                    <div class="fb-box cursor-pointer">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="31.007"
                        height="44.761"
                        viewBox="0 0 31.007 44.761"
                      >
                        <defs>
                          <filter id="twitch" x="0" y="0" width="31.007" height="44.761" filterUnits="userSpaceOnUse">
                            <feOffset input="SourceAlpha" />
                            <feGaussianBlur stdDeviation="3" result="blur" />
                            <feFlood flood-color="#2dd4ff" />
                            <feComposite operator="in" in2="blur" />
                            <feComposite in="SourceGraphic" />
                          </filter>
                        </defs>
                        <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#twitch)">
                          <path
                            id="twitch-2"
                            data-name="twitch"
                            d="M3.321,26.761V14.2H0V9.683H3.321V5.821C3.321,2.787,5.282,0,9.8,0a27.44,27.44,0,0,1,3.182.175L12.877,4.4s-1.38-.013-2.886-.013c-1.629,0-1.891.751-1.891,2v3.3h4.906L12.793,14.2H8.1V26.761H3.321"
                            transform="translate(9 9)"
                            fill="#fff"
                          />
                        </g>
                      </svg>
                    </div>
                    <div class="google-box cursor-pointer">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="40.083"
                        height="40.301"
                        viewBox="0 0 40.083 40.301"
                      >
                        <defs>
                          <filter id="Path_32" x="0" y="0" width="40.083" height="40.301" filterUnits="userSpaceOnUse">
                            <feOffset input="SourceAlpha" />
                            <feGaussianBlur stdDeviation="3" result="blur" />
                            <feFlood flood-color="#2dd4ff" />
                            <feComposite operator="in" in2="blur" />
                            <feComposite in="SourceGraphic" />
                          </filter>
                        </defs>
                        <g id="google" transform="translate(9 9)">
                          <g transform="matrix(1, 0, 0, 1, -9, -9)" filter="url(#Path_32)">
                            <path
                              id="Path_32-2"
                              data-name="Path 32"
                              d="M7.46,14.151a6.69,6.69,0,0,0,13,2.23h-6.31V11.92H25.083v4.46h-.005A11.151,11.151,0,1,1,23.385,7.9L19.73,10.457A6.69,6.69,0,0,0,7.46,14.151Z"
                              transform="translate(6 6)"
                              fill="#fff"
                            />
                          </g>
                        </g>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 img-section" style="color: white">
              <div class="d-flex justify-content-end pr-2 cursor-pointer" [routerLink]="['/']" style="margin: 1% 2%">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="30.448"
                  height="30.447"
                  viewBox="0 0 40.448 40.447"
                >
                  <defs>
                    <filter id="Path_31" x="0" y="0" width="40.448" height="40.447" filterUnits="userSpaceOnUse">
                      <feOffset input="SourceAlpha" />
                      <feGaussianBlur stdDeviation="3" result="blur" />
                      <feFlood flood-color="#2dd4ff" />
                      <feComposite operator="in" in2="blur" />
                      <feComposite in="SourceGraphic" />
                    </filter>
                  </defs>
                  <g id="close" transform="translate(2.224 2.223)">
                    <g transform="matrix(1, 0, 0, 1, -2.22, -2.22)" filter="url(#Path_31)">
                      <path
                        id="Path_31-2"
                        data-name="Path 31"
                        d="M9.337,7.216A1.5,1.5,0,1,0,7.216,9.337L15.879,18,7.215,26.662a1.5,1.5,0,1,0,2.121,2.121L18,20.121l8.663,8.663a1.5,1.5,0,1,0,2.121-2.121L20.121,18l8.663-8.663a1.5,1.5,0,1,0-2.121-2.121L18,15.879,9.337,7.215Z"
                        transform="translate(2.22 2.22)"
                        fill="#fff"
                      />
                    </g>
                  </g>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
