/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_2.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_2.svg') no-repeat center top;
    background-size: contain;
  }
}

.HomePage {
  .h-100 {
    height: 100%;
  }
  .w-100 {
    width: 100%;
  }
  .cursor-pointer {
    cursor: pointer;
  }
  .section-one {
    height: 580px;
    background-color: black;
    background-image: url('../../assets/img/main-page/home-first-bg-new.png');
    background-repeat: none;
    background-size: contain;
    background-repeat: round;
    .header-section {
      height: 12%;
      border-bottom: 1px solid white;
      -webkit-backdrop-filter: blur(2px);
      backdrop-filter: blur(2px);
      background-color: rgb(106 106 157 / 49%);
      .logo {
        width: 70%;
        @media screen and (max-width: 1100px) {
          width: 100%;
        }
      }
      .header-text-style {
        font-family: 'square721M';
      }
      .button-box {
        position: relative;
        min-width: 115px;
        .button {
          color: white;
          border: 1px solid transparent;
          background: transparent;
          padding: 5px 0;
          font-family: 'square721M';
          letter-spacing: 1.3px;
        }
        .button-border {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          &:hover {
            border-bottom: 2px solid white;
          }
        }
      }
    }
    .banner-section {
      height: 88%;
      .h1 {
        color: white;
        font-family: 'square721b';
        font-size: 3.5rem;
        letter-spacing: 1px;
        text-shadow: 0 0 13px #2dd4ff;
      }
      .detail {
        color: white;
        font-family: 'segoe';
        font-size: 1rem;
        letter-spacing: 1px;
        word-spacing: 1px;
      }
      .button-box {
        position: relative;
        width: 60%;
        margin-top: 9%;
        height: 105px;

        .button {
          position: absolute;
          top: 12%;
          border: 1px solid transparent;
          background: white;
          font-family: 'square721M';
          font-size: 1.4rem;
          padding: 8px 0;
          margin-left: 5%;
          width: 85%;
          letter-spacing: 2px;
        }
        .button-border {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .section-two {
    height: 900px;
    background-image: url('../../assets/img/main-page/home-second-bg.png');
    background-repeat: none;
    background-size: cover;

    .section-two-one {
      .h1 {
        color: white;
        padding-top: 3%;
        font-size: 3.6rem;
        font-family: 'segoe';
        text-shadow: 0 0 13px #2dd4ff;
        font-weight: 500;
      }
      height: 60%;
      .carousel-card {
        width: 70%;
        height: 210px;

        .button {
          border: 1px solid white;
          background-color: #264873;
          color: white;
        }
      }
    }
    .section-two-two {
      height: 40%;
      background-color: rgb(133 159 225 / 48%);
      -webkit-backdrop-filter: blur(4px);
      backdrop-filter: blur(4px);
    }
  }
}
