<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="digiUser">
      <h2 data-cy="digiUserDetailsHeading"><span>Digi User</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ digiUser.id }}</span>
        </dd>
        <dt><span>First Name</span></dt>
        <dd>
          <span>{{ digiUser.firstName }}</span>
        </dd>
        <dt><span>Last Name</span></dt>
        <dd>
          <span>{{ digiUser.lastName }}</span>
        </dd>
        <dt><span>User Name</span></dt>
        <dd>
          <span>{{ digiUser.userName }}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ digiUser.email }}</span>
        </dd>
        <dt><span>Dob</span></dt>
        <dd>
          <span>{{ digiUser.dob | formatMediumDate }}</span>
        </dd>
        <dt><span>Age</span></dt>
        <dd>
          <span>{{ digiUser.age }}</span>
        </dd>
        <dt><span>Promo Code</span></dt>
        <dd>
          <span>{{ digiUser.promoCode }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/digi-user', digiUser.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
